EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=66898696086-rllkt0008s2k3jeg8kq1329rjs6t503g.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=66898696086-b34t22b3hdotbdta8jsqh9h9r14o762d.apps.googleusercontent.com
# EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_API_BASE_URL=http://localhost:4000
# Android emulator: http://10.0.2.2:4000
# Physical device: http://<your-LAN-IP>:4000
